@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 248 250 252;
  }
}
